.DS_Store
**/data/
**/model/
**/models/
**/report/
**/__pycache__/
**/.idea/
**/.ipynb_checkpoints/*
./CurrencyPrediction_5013/demo/
./EmotionRecognision_5012/src/recognision_facial_landmarks/faces/*
./PollutionPrediction_5002/report_rc/
./PollutionPrediction_5002/outputs/
./PUBGPrediction_5001/proposal_presentation/
**/*.docx
**/*.pptx
**/*.csv
**/*.pdf
!CourseWork/**/*.pdf
