.DS_Store
**/data/
**/model/
**/models/
**/report/
**/__pycache__/
**/.idea/
**/.vscode/
**/.ipynb_checkpoints/
5013_CurrencyPrediction/demo/
5012_EmotionRecognision/src/recognision_facial_landmarks/faces/
5002_PollutionPrediction/report_rc/
5002_PollutionPrediction/outputs/
5001_PUBGPrediction/proposal_presentation/
**/*.docx
**/*.pptx
**/*.csv
**/*.pdf
!CourseWork/**/*.pdf
